<?xml version="1.0" encoding="UTF-8" ?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="dict1Bean"
          class="test.FirstLanguageDictionary">

    </bean>

    <bean id="dict2Bean"
          class="test.SecondLanguageDictionary">
    </bean>

    <bean id="consoleBean"
          class="test.ConsoleApplication">
        <constructor-arg ref="dict1Bean"/>
        <constructor-arg ref="dict2Bean"/>
    </bean>

</beans>